.page{
    width: 780px;
    margin: auto;
    font-family: 'Source Sans Pro', Calibri, Tahoma, sans-serif ;
    font-size: 16px;
}

.infophoto{
    height: 250px;
}

.info{
    float: left;
}

.photo{
    float: right;
    height: 300px;
    width: 300px;
}
.photo img {
    width: 100%;
}
.section{
    margin-bottom: 100px;
    text-align: justify;
}

.sec-gauche{
    float: left;
    font-weight: bold;
    font-size: 20px;
}

.sec-droite{
    margin-left: 150px;
}

h2{
    font-size: 28px;
    color: #3388BB;
    border-bottom: #3388DD;
}

.titre{
    font-weight: bold;
    font-size: 20px;
}

.mb{
    margin-bottom: 35px;
    margin-top: 0;
}

.mb2{
    margin-bottom: 30px;
    margin-top: 10px;
    line-height: 5px;
}

.mb3{
    margin-bottom: 35px;
    margin-top: 10px;
    line-height:1px;
}

.mb4{
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 5px;
}